.aboutMe{
    max-width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: var(--section-box);
    border-style: solid;
    padding: 1em;
    text-align: center;
}

.aboutMe ul{
    list-style:none;
    text-align: justify;
    border-style: dashed;
    border-radius: 1px;
    padding: 1em;
    margin-top: 0.5em;
}

.aboutMe li::before{
    content: "★ ";
}

.aboutMe img{
    max-width: 10em;
    margin-bottom: 1em;
}
