.linksList{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-style: solid;
  border-color: var(--section-box);
  list-style: none;
  text-align: center;
}

.linksList a {
  height: 100%;
  padding: 3px;
}
